<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554255921032-03s1rt0mlqggh3718f31qhm432n5d66d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554255921032-03s1rt0mlqggh3718f31qhm432n5d66d</string>
	<key>API_KEY</key>
	<string>AIzaSyCihJwrYHJ2szGVQlyDki5jQbWCw1JWgr8</string>
	<key>GCM_SENDER_ID</key>
	<string>554255921032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damri</string>
	<key>PROJECT_ID</key>
	<string>damripool-b3a06</string>
	<key>STORAGE_BUCKET</key>
	<string>damripool-b3a06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554255921032:ios:c23a442b0bf8de5aa8143d</string>
</dict>
</plist>